<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.ims.rbac.mapper.AdminMapper">

    <select id="selectByAccount" parameterType="String" resultType="com.lhiot.ims.rbac.entity.Admin">
      SELECT * FROM mngr_auth_user WHERE account = #{account}
    </select>

    <update id="updateLastLogin" parameterType="map">
      UPDATE mngr_auth_user SET last_login_at = #{last_login_at} WHERE mngr_auth_user.id = #{id}
    </update>
</mapper>