<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.ims.rbac.mapper.ImsMenuMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.ims.rbac.domain.ImsMenu" >
        <id column="id" property="id"/>
        <result column="p_id" property="pId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            p_id,
            name,
            code,
            type,
            sort,
            icon,
        </trim>
    </sql>

    <!--新增菜单-->
    <insert id="create" parameterType="com.lhiot.ims.rbac.domain.ImsMenu" useGeneratedKeys="true" keyProperty="id">
        insert into ims_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="pId != null ">
                p_id,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="code != null ">
                code,
            </if>
            <if test="type != null ">
                type,
            </if>
            <if test="sort != null ">
                sort,
            </if>
            <if test="icon != null ">
                icon,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="pId != null ">
                #{pId},
            </if>
            <if test="name != null ">
                #{name},
            </if>
            <if test="code != null ">
                #{code},
            </if>
            <if test="type != null ">
                #{type},
            </if>
            <if test="sort != null ">
                #{sort},
            </if>
            <if test="icon != null ">
                #{icon},
            </if>
        </trim>
    </insert>

    <!--根据id修改菜单-->
    <update id="updateById" parameterType="com.lhiot.ims.rbac.domain.ImsMenu">
        update ims_menu
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="pId != null ">
                p_id = #{pId},
            </if>
            <if test="name != null ">
                name = #{name},
            </if>
            <if test="code != null ">
                code = #{code},
            </if>
            <if test="type != null ">
                type = #{type},
            </if>
            <if test="sort != null ">
                sort = #{sort},
            </if>
            <if test="icon != null ">
                icon = #{icon},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除菜单-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from ims_menu where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找菜单 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from ims_menu where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="pId != null ">
                and p_id = #{pId}
            </if>
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="code != null ">
                and code = #{code}
            </if>
            <if test="type != null ">
                and type = #{type}
            </if>
            <if test="sort != null ">
                and sort = #{sort}
            </if>
            <if test="icon != null ">
                and icon = #{icon}
            </if>
        </where>
    </sql>


    <!--查询菜单列表-->
     <select id="pageImsMenus" resultMap="BaseResultMap"
        parameterType="com.lhiot.ims.rbac.domain.ImsMenu">
	        select <include refid="Base_Column_List" />
	        from ims_menu
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>


    <!--查询菜单总记录-->
    <select id="pageImsMenuCounts" resultType="int"
        parameterType="com.lhiot.ims.rbac.domain.ImsMenu">
            select count(1)
            from ims_menu
            <include refid="Base_Where_Condition" />
    </select>


    <!--查询菜单列表(包括系统)-->
    <select id="listIncludeSystemImsMenus" resultMap="BaseResultMap">
        select m.* from ims_menu m
    </select>

    <!--查询菜单列表(非系统)-->
    <select id="listImsMenus" resultMap="BaseResultMap"
            parameterType="long">
        select distinct m.* from ims_relation_user_role u_r
        left join ims_role r
        on u_r.role_id=r.id
        left join ims_relation_role_menu rm
        on r.id= rm.role_id
        left join ims_menu m
        on rm.menu_id=m.id
        where u_r.user_id=#{0} and m.p_id is not null
    </select>

    <!--查询菜单列表(非系统)-->
    <select id="listImsMenusByPid" resultMap="BaseResultMap"
            parameterType="java.util.Map">
      select distinct m.* from ims_relation_user_role u_r
        left join ims_role r
        on u_r.role_id=r.id
        left join ims_relation_role_menu rm
        on r.id= rm.role_id
        left join ims_menu m
        on rm.menu_id=m.id
        where u_r.user_id=#{id} and m.id in(
					select id from (
              select t1.id,
              if(find_in_set(p_id, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
              from (
                   select id,p_id from ims_menu t order by p_id, id
                  ) t1,
                  (select @pids := #{pid}) t2
             ) t3 where ischild != 0)
    </select>


    <!--查询菜单列表(系统)-->
    <select id="listImsSystems" resultMap="BaseResultMap"
            parameterType="long">
        select distinct m.* from ims_relation_user_role u_r
        left join ims_role r
        on u_r.role_id=r.id
        left join ims_relation_role_menu rm
        on r.id= rm.role_id
        left join ims_menu m
        on rm.menu_id=m.id
        where u_r.user_id=#{0} and m.p_id is null
    </select>

</mapper>