<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.ims.rbac.mapper.ImsOperationMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.ims.rbac.domain.ImsOperation" >
        <id column="id" property="id"/>
        <result column="menu_id" property="menuId" />
        <result column="name" property="name" />
        <result column="ant_url" property="antUrl" />
        <result column="type" property="type" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            menu_id,
            name,
            ant_url,
            type,
        </trim>
    </sql>

    <!--新增功能操作-->
    <insert id="create" parameterType="com.lhiot.ims.rbac.domain.ImsOperation" useGeneratedKeys="true" keyProperty="id">
        insert into ims_operation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="menuId != null ">
                menu_id,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="antUrl != null ">
                ant_url,
            </if>
            <if test="type != null ">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="menuId != null ">
                #{menuId},
            </if>
            <if test="name != null ">
                #{name},
            </if>
            <if test="antUrl != null ">
                #{antUrl},
            </if>
            <if test="type != null ">
                #{type},
            </if>
        </trim>
    </insert>

    <!--根据id修改功能操作-->
    <update id="updateById" parameterType="com.lhiot.ims.rbac.domain.ImsOperation">
        update ims_operation
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="menuId != null ">
                menu_id = #{menuId},
            </if>
            <if test="name != null ">
                name = #{name},
            </if>
            <if test="antUrl != null ">
                ant_url = #{antUrl},
            </if>
            <if test="type != null ">
                type = #{type},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除功能操作-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from ims_operation where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据菜单ids删除功能操作-->
    <delete id="deleteByMenuIds" parameterType="java.util.List">
        delete from ims_operation where menu_id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找功能操作 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from ims_operation where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="menuId != null ">
                and menu_id = #{menuId}
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name}, '%')
            </if>
            <if test="antUrl != null and antUrl != '' ">
                and ant_url like concat('%',#{antUrl}, '%')
            </if>
            <if test="type != null and type != '' ">
                and type like concat('%',#{type}, '%')
            </if>
        </where>
    </sql>


    <!--查询功能操作列表-->
     <select id="pageImsOperations" resultMap="BaseResultMap"
        parameterType="com.lhiot.ims.rbac.domain.ImsOperation">
	        select <include refid="Base_Column_List" />
	        from ims_operation
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查找和色果膳用户访问权限接口集-->
    <select id="selectAuthority" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from ims_operation where menu_id is null
    </select>

    <!--查询功能操作总记录-->
    <select id="pageImsOperationCounts" resultType="int"
        parameterType="com.lhiot.ims.rbac.domain.ImsOperation">
            select count(1)
            from ims_operation
            <include refid="Base_Where_Condition" />
    </select>

    <!--依据用户查找-->
    <select id="listByUserId" parameterType="long" resultMap="BaseResultMap">
        select distinct op.* from ims_relation_user_role u_r
        left join ims_role r
        on u_r.role_id=r.id
        left join ims_relation_role_operation ro
        on r.id= ro.role_id
        left join ims_operation op
        on ro.operation_id=op.id
        where u_r.user_id=#{0} and ro.id is not null
    </select>

    <!--依据菜单ids查询功能操作列表-->
    <select id="listByMenuIds" resultMap="BaseResultMap"
            parameterType="java.util.List">
        select <include refid="Base_Column_List" />
        from ims_operation
        where menu_id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>