<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.ims.rbac.mapper.ImsRelationUserRoleMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.ims.rbac.domain.ImsRelationUserRole" >
        <id column="id" property="id"/>
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            user_id,
            role_id,
        </trim>
    </sql>

    <!--新增用户与角色关联-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO ims_relation_user_role(user_id,role_id)
        VALUE
        <foreach collection="list" item="item" separator=",">
            (
                #{item.userId},#{item.roleId}
            )
        </foreach>
    </insert>

    <!--根据id修改用户与角色关联-->
    <update id="updateById" parameterType="com.lhiot.ims.rbac.domain.ImsRelationUserRole">
        update ims_relation_user_role
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="userId != null ">
                user_id = #{userId},
            </if>
            <if test="roleId != null ">
                role_id = #{roleId},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除用户与角色关联-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from ims_relation_user_role where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据用户ids删除用户与角色关联-->
    <delete id="deleteByUserIds" parameterType="java.util.List">
        delete from ims_relation_user_role where user_id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找用户与角色关联 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from ims_relation_user_role where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="userId != null ">
                and user_id = #{userId}
            </if>
            <if test="roleId != null ">
                and role_id = #{roleId}
            </if>
        </where>
    </sql>


    <!--查询用户与角色关联列表-->
     <select id="pageImsRelationUserRoles" resultMap="BaseResultMap"
        parameterType="com.lhiot.ims.rbac.domain.ImsRelationUserRole">
	        select <include refid="Base_Column_List" />
	        from ims_relation_user_role
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询用户与角色关联总记录-->
    <select id="pageImsRelationUserRoleCounts" resultType="long"
        parameterType="com.lhiot.ims.rbac.domain.ImsRelationUserRole">
            select count(1)
            from ims_relation_user_role
            <include refid="Base_Where_Condition" />
    </select>

</mapper>