<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.ims.rbac.mapper.ImsRoleMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.ims.rbac.domain.ImsRole" >
        <id column="id" property="id"/>
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="role_desc" property="roleDesc" />
        <result column="create_by" property="createBy" />
        <result column="create_at" property="createAt" />
    </resultMap>

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="MenuResultMap"
               type="com.lhiot.ims.rbac.domain.ImsMenu" >
        <id column="id" property="id"/>
        <id column="p_id" property="pId"/>
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            name,
            status,
            role_desc,
            create_by,
            create_at
        </trim>
    </sql>

    <!--新增角色-->
    <insert id="create" parameterType="com.lhiot.ims.rbac.domain.ImsRole" useGeneratedKeys="true" keyProperty="id">
        insert into ims_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="roleDesc != null ">
                role_desc,
            </if>
            <if test="createBy != null ">
                create_by,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="name != null ">
                #{name},
            </if>
            <if test="status != null ">
                #{status},
            </if>
            <if test="roleDesc != null ">
                #{roleDesc},
            </if>
            <if test="createBy != null ">
                #{createBy},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
        </trim>
    </insert>

    <!--根据id修改角色-->
    <update id="updateById" parameterType="com.lhiot.ims.rbac.domain.ImsRole">
        update ims_role
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="name != null ">
                name = #{name},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="roleDesc != null ">
                role_desc = #{roleDesc},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除角色-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from ims_role where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找角色 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from ims_role where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
            <if test="roleDesc != null ">
                and role_desc like concat('%',#{roleDesc},'%')
            </if>
            <if test="createBy != null ">
                and create_by  like concat('%',#{createBy},'%')
            </if>
            <if test="createAt != null ">
                and create_at = #{createAt},
            </if>
        </where>
    </sql>


    <!--查询角色列表-->
     <select id="pageImsRoles" resultMap="BaseResultMap"
        parameterType="com.lhiot.ims.rbac.domain.ImsRole">
	        select <include refid="Base_Column_List" />
	        from ims_role
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询角色总记录-->
    <select id="pageImsRoleCounts" resultType="int"
        parameterType="com.lhiot.ims.rbac.domain.ImsRole">
            select count(1)
            from ims_role
            <include refid="Base_Where_Condition" />
    </select>


    <!-- 查询角色id查询已关联的菜单列表 -->
    <select id="getRelationMenusById" resultMap="MenuResultMap"
            parameterType="Long">
        select m.*
        from ims_relation_role_menu r_m
        left join ims_menu m on r_m.menu_id = m.id
        where r_m.role_id=#{0}
    </select>

</mapper>